/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.productL{
    width: 120px;
}

.productMain{
    padding: 25px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    width: 360px;
}
.titleNewProduct{
    margin-left: 50px;
}

.productForm{
    padding: 25px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    width: 220px;
}

.variantList{
    float: left;
    padding: 25px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    margin-left: 20px;
}
.product{
    float: left;
    padding: 25px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
}

.forVariant{
    float: left;
    margin-left: 25px;
    padding: 25px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
}

.textareProduct{
    width: 280px;
    margin-top: 10px;
}

.rb{
    margin: 5px;
}